
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Details</title>
</head>
<body>

<img src="https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_120,w_120,f_auto,b_white,q_auto:eco/zez9iqg8lghajcaq65ai"><br>

Dear {{details.guest_name}},<br><br>

Thank You for using the application. {{msg}} Here are your details:<br>

<strong>Meeting Name:</strong> {{details.meeting_name}}<br>
<strong>Host:</strong> {{details.host_name}}<br>
<strong>Address:</strong> {{details.address}}<br>
<strong>Check-In Time:</strong> {{details.check_in_time}}<br>
<strong>Check-Out Time:</strong> {{details.check_out_time}}<br><br>


Thank You,<br>
Team Innovaccer.

</body>
</html>